@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(15px); } 
    to { opacity: 1; transform: translateY(0); } 
}

::-webkit-scrollbar { 
    width: 0px; 
    background: transparent; 
}

@keyframes shimmer {
    0% { transform: translateX(-150%) skewX(-12deg); }
    100% { transform: translateX(250%) skewX(-12deg); }
}
